/* Main Container */
.info {
    max-width: 800px;
    padding: 25px;
    color: #292831;
}

/* Header */
.info h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

/* Card Styles */
.info .card {
    background: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    border-left: 5px solid #c2b8a3;
}

/* Subtitles */
.info h3 {
    font-size: 1.6em;
    color: #292831;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Text Styling */
.info p, .info li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #292831;
}

/* Lists */
.info ul {
    padding-left: 20px;
}

.info li{
    margin-bottom: 8px;
    color: #292831;
}
.info li strong {
    color: #292831;
}

/* Responsive Design */
@media (max-width: 768px) {
    .info {
        padding: 20px;
        max-width: 95%;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }
}
