*
{
    font-family: "Menlo", "Monaco", "Lucida Console", "Courier New", "Courier", monospace;
    font-weight: bold;
}

/* DARK MODE DEFAULT */
body
{
    background-color: #4c6f89;
    color: #fdf0d5;
}

/* MENU ITEMS LINKS */
.btn-link
{
    text-decoration: none;
}

/* LANGUAGE ICON */
.language-flag-icon
{
    width: 25px;
    height: auto;
}

/* CONTENT CONTAINER*/

.content-container
{
    margin: 20px;
}

/* NAVBAR */
.navbar {
    background-color: #132e43;
    border-bottom: 4px solid #fdf0d5;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fdf0d5 !important;
}

.navbar-nav .nav-item .btn-link {
    color: #fdf0d5 !important;
    font-size: 1rem;
    font-weight: bold;
}

.navbar-toggler {
    border: 2px solid #fdf0d5;
}

/* LIGHT MODE */
.light-mode {
    background-color: rgb(233, 240, 243);
    color: #22223b;
}

.light-mode .navbar {
    background-color: #4c6f89;
    border-bottom: 4px solid #fdf0d5;
}

.light-mode .navbar-brand,
.light-mode .navbar-nav .nav-item .btn-link {
    color: #fdf0d5 !important;
}

.light-mode .navbar-toggler {
    border: 2px solid #fdf0d5;
}

/* Botón de modo oscuro/claro */
#theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    color: #22223b;
    font-weight: bold;
    font-size: 1rem;
}

.light-mode #theme-toggle {
    color: #22223b;
}

