/* MAIN CONTAINER */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
}

.register-elem {
    text-align: left;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

.input-container {
    position: relative;
}

#toggleNewPassword, #toggleConfirmPassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-hover {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease-in-out;
}

.btn-hover:hover {
    background-color: #e0e0e0;
}
